management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
